@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/Blue\ Screen\ Personal\ Use.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
}

.menu {
  font-family: 'CustomFont';
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 200px;
  background-color: #000000;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* Menu items styling */
.menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
}

.menu button {
  font-family: 'CustomFont';
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
  color: white;
}

.menu button:hover {
  color: wheat;
  transform: scale(1.05);
}

.content {
  background-color: #000000;
  color: white;
  padding: 20px;
  margin-left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.inner-content {
  color: white;
  width: 60vw;
  height: 80vh;
  background-color: #000000;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: none;
}

.inner-content::-webkit-scrollbar {
  display: none;
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.projects {
  text-align: end;
  margin-right: 0;
  transition: 0.3s ease-in-out;
  color: white;
}

.projects h3 {
  cursor: pointer; 
  font-size: 30px;
  font-family: 'CustomFont';
}
.projects h3:hover {
  color: wheat;
}

.project-details {
  margin-top: 10px;
  transition: opacity 0.3s ease-in-out;
}

.projects.expanded .project-details {
  opacity: 1;
}
